/* this is for about, portfolio, and contact */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');


#article h3:hover #minilink {
  box-shadow: 0  5px 0px -2px rgb(65, 63, 63);
}

#abouth1 {
  margin-top: 80px;
}

.MyForm {
  margin-top: 20px;
}

#collapse {
  transition: transform ease-out .4s;
  margin-bottom: 30px;
}

#aboutimage {
  padding: 10px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 80%;
  max-height: 80%;
}

#article {
  margin-top: 60px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.Social {
}

#article h1 {
}

#article h3 {
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
}

#page {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#minilink {
  transition:  .4s .2s;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#minilink:hover {
  box-shadow: 0  5px 0px -2px rgb(65, 63, 63);
}

#resume {
  transition: transform ease-in-out .2s;
  border: 1px grey;
  max-width:98%;
  max-height:98%;
}

#resume:hover {
  transform: scale(1.55);
}

#location {
  margin-bottom: 30px;
}

#resumediv {
 display: flex;
  flex-direction: column;
  flex: 1;
  
  justify-content: center;
  align-items: center;
}

/* #myname:hover {
  transform: scale(1.1);
}

#myname {
  transition: transform ease-out .4s; } */